

/* --------------------------------
Topography
--------------------------------*/
html {
  scroll-behavior: smooth;
}
.hidden-nav, .hidden-item {
  display: none;
}

.body-main {
  margin-left:70px;
  display: block;
  margin: none;
  padding: 0;
  font-family: var(--font-family-header)!important;
  font-display: swap;
  background-color: var(--bg-color);
  margin-top: 50px;           
  padding: 0 1rem;                 
  transition: .5s;
}


@media screen and (max-width: 768px){
  .body-main{
    margin-left:10px;
  }
}

@font-face {
  font-family: "MyWebFont";
  src: url(myfont.woff2) format("woff2"),
        url(myfont.woff) format("woff");
  font-display: swap;
}

.h1-1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: var(--h1);
  color: var(--text-color);
}
.p-p,.p-b,.p-l {
  font-size: var(--p);
  font-family: "Lato", sans-serif;
  font-style: normal;
}
.p-p {
  font-weight: 400;
  color: var(--text-color);
}

.p-b {
  font-weight: 700;
  color: var(--mc-6);
}

.p-l {
  font-weight: 300;
  color: var(--text-color);
}

.nums {
  font-display: swap;
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);
  background-image: var(--lingrand-bar);
  background-repeat: repeat;
  background-position: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}



.p-2 {
  font-size: var(--p);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color-secondary);
}

.ham{
  color:var( --mc-4)!important;
}

.icon-color{
  color:var(--mc-6);
}

hr {
  color: var(--first-color);
}

.data{
  display: none;
}


.form-fit {
  position: relative;
  width:50%;
  left:30%;

}
@media screen and (max-width: 768px) {
  .form-fit {
    width: 100%;
    left: 0;
  }
  
}

/* --------------------------------
  NAv Body
--------------------------------*/

*,::before,::after
{
  box-sizing: border-box
}

a{
  text-decoration: none
}
.header{
  width: 100%;           
  height: var(--header-height);           
  position: fixed;           
  top: 0;           
  left: 0;           
  display: flex;          
  align-items: center;          
  justify-content: space-between;           
  padding: 0 1rem;           
  background-color: var(--bg-color-nav);           
  z-index: var(--z-fixed);           
  transition: .5s;
}

.header_toggle{
  color: var(--first-color);           
  font-size: 1.5rem;           
  cursor: pointer;
}

.home-i {
  color: var(--first-color);           
}

.header_img{
  width: 35px;           
  height: 35px;           
  display: flex;           
  justify-content: center;           
  border-radius: 50%;           
  overflow: hidden;
}

.header_img img{
  width: 40px;
}

.l-navbar{
  position: fixed;           
  top: 0;           
  left: -30%;           
  width: var(--nav-width);           
  height: 100vh;           
  background-color: var(--bg-color-nav);           
  padding: .5rem 1rem 0 0;           
  transition: .5s;           
  z-index: var(--z-fixed);
}

.nav{
  height: 100%;           
  display: flex;           
  flex-direction: column;           
  justify-content: space-between;           
  overflow: hidden;
}

.nav_logo, 
.nav_link{
  display: grid;           
  grid-template-columns: max-content max-content;           
  align-items: center;           
  column-gap: 1rem;           
  padding: .5rem 0 .5rem 1.5rem;
}

.nav_logo{
  margin-bottom: 2rem;
}

.nav_logo-icon{
  font-size: 1.25rem;           
  color: var(--mc-4);
}

.nav_logo-name{
  color: var(--mc-4);           
  font-weight: 700;
}

.nav_link{
  position: relative;           
  color: var(--first-color-light);           
  margin-bottom: 1.5rem;           
  transition: .3s;
}
.nav_link:hover{
  color: var(--mc-4);
}

.nav_icon{
  font-size: 1.25rem;
}

.show{
  left: 0;
}

.body-pd{
  padding-left: calc(var(--nav-width) + 1rem)
}

.active{
  color: var(--mc-4)
}


.height-100{
  height:100vh
}

@media screen and (min-width: 768px){
  body{
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  }
  .header{
    height: calc(var(--header-height) + 1rem);           
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }
  .header_img{
    width: 40px;           
    height: 40px;
  }
  .header_img img{
    width: 45px;
  }
  .l-navbar{
    left: 0;           
    padding: 1rem 1rem 0 0;
  }
  .show{
    width: calc(var(--nav-width) + 140px);
  }
  .body-pd{
    padding-left: calc(var(--nav-width) + 120px);
  }
}
