
{% extends 'panel.html' %}
{% load static %}
{% block title %}O | {{ display.name }} Gallery{% endblock %}
{% block css %}
	<link rel='stylesheet' href="{% static 'css/imageCard.css' %}">
{% endblock %}
{% block content %}

<input id='gallery' value="{{ display.id}}" disabled hidden>
<input id='lastPage' {% if last_page %} value="{{ last_page }}" {% else %} value='1' {% endif %} disabled hidden>

<input id='clearGalURL' type="text" value="{% url 'gal-clear-endpoint' gal %}" hidden>
<div class='row'>
	<div class='col-12 col-md-6 mt-4 mb-2'>
		<h1 class='h1-1'>{{ display.name| title}}  Gallery</h1>
		
	</div>
	
	<div class='col-12 col-md-6  mt-4'>
		<div class='row'>
			<div class='col-6 col-md-4'>
				<button  class='tooltip-obj btn-icon w-100' id="SettingsGalBtn" onclick="handleModal('SettingsGalModal', 'SettingsGalBtn', 'closeSettingsGal');" >
					<span class='tooltiptext'>Change Gallery Settings</span><i class="fa-solid fa-sliders fa-2xl"></i>
					
				</button>
			</div>

			<div class='col-6 col-md-4'>
				<button  class='tooltip-obj btn-icon w-100' id="ShareGalBtn" onclick="handleModal('ShareGalModal', 'ShareGalBtn', 'closeShareGal');" >
					<span class='tooltiptext'>Share Gallery</span><i class="fa-solid fa-share-from-square fa-2xl"></i>
					
				</button>
			</div>
			<div class='col-6 col-md-4'>
				<button  class='tooltip-obj btn-icon w-100' id="DeleteGalBtn" onclick="handleModal('DeleteGalModal', 'DeleteGalBtn', 'closeDeleteGal')" >
					<span class='tooltiptext'>Delete Gallery</span><i class="fa-solid fa-trash-can fa-2xl"></i>.
					
				</button>
			</div>
		</div>
	</div>
	<hr>
	{% if current_list %}
	<div class='col-12 col-md-6' id='viewerImage'>
		<div class='overflow-auto section-scroll-2'>
			<div class="row row-scroll">
				<div class='col-10 col-md-8'>
					<p class='p-b'> Title</h1>
				</div>
				<div class='col-2 col-md-4'>
					<p class='p-b'> Header</h1>
				</div>

				{% for image in current_list %}

				<div class="text-mini col-10 col-md-8">
					<p class='p-l demo' onclick="currentSlide({{ forloop.counter }})">
						{{image.title|title}} 
					</p>
				</div>
				<div class='col-2 col-md-4'>
										
					{% if display.header_image == image %}
					<i class="fa-solid text-center text-header-note fa-star"></i>
					{% endif %}
				
				</div>
				<hr>
				{% endfor %}
			</div>
		</div>

	</div>
	<div class='col-12 col-md-6' id='currentList'>
		
		<div class='section-min'>
			  

			{% for image in current_list %}
			
			<div class="mini-Slides text-center">
				
				<form method=POST action="{% url 'change-gal' display.slug %}" >
					{% csrf_token %}
					<input value='{{ image.id }}' namd='{{ image.id }}' id='header_id' hidden>
					<button class="btn-cust" name='header' value='{{ image.id }}'>Make Header</button>
				</form>
				<div class='section-holder'>
					<p class="p-p">Image name{{ image.title}}</p>
					<img class='image-frame' src="{{ image.image_link }}">
				</div>
				
			</div>
			{% endfor %}
			
			<div class='section-min text-center'>
				<button class="btn-icon" onclick="plusSlides(-1)">
					<i class="fa-solid fa-circle-arrow-left fa-2xl"></i>
				</button>
				<button class="btn-icon" onclick="plusSlides(1)">
					<i class="fa-solid fa-circle-arrow-right fa-2xl"></i>
				</button>
			</div>

		</div>
	</div>
	<div class='col-12' id='emptyText'>

	</div>
	{% else %}
	<div class='col-12'>
		<div class='cardSlide mt-4 mb-4'>
			<h1 class='h1-1 text-center'>
				Please use the gallery controls to add images.
			</h1>
		</div>
	</div>
	{% endif %}
	<hr>
	<div class='col-12 mt-4 mb-4'>
		<div class='section-med'>
			<h1 class='h1-1 mb-2'>Image Search and Filter</h1>
			<form method="GET" action="." class='form-group'>
				<div class='row'>
					<div class='col-12 col-md-4 mb-2'>
						<input class="form-control"  type="search" name="tags" placeholder="Tags">
					</div>
					<div class='col-12 col-md-4 mb-2'>
						<input class="form-control" list="project-list" type="search" name="project" placeholder="Project">
						<datalist id="project-list">
						{% for project in project_list %}
							<option value="{{ project.name }}"></option>
						{% endfor %}
						</datalist>
					</div>
					<div class='col-12 col-md-4 mb-2'>
						<input class="form-control" 
						list="client-list" 
						type="search" 
						name="client" 
						placeholder="Client"
						>
						<datalist id="client-list">
						{% for client in client_info %}
							<option value="{{ client.client_details.client }}"></option>
						{% endfor %}
						</datalist>
					</div>
				</div>
				<div class='row'>
					<div class="col-12 col-md-3 mt-4">
						<select class="form-select" type="select" name="order">
							<option value="Newest">Newest</option>
							<option value="Oldest">Oldest</option>
						</select>
						
						<lable class='p-p mt-4'>Currrent gallery images only</lable>
						<input class="form-check-input text-center" type="checkbox" id='current' name="current" value='True'>

					</div>                
					<div class="col-12 col-md-3 mt-4">
						<button type="submit" class="btn-cust btn-cust-color mt-4">Search</button>
					</div>

					<div class="col-12 col-md-3 mt-4">
						<button type="submit" onclick="{% url 'change-gal' gal %}" class="btn-cust btn-cust-color mt-4">Clear Search</button>
					</div>
				</div>
			</form>

			<form method=POST action="{% url 'change-gal' gal %}" class='mt-4 section-med form-group'>
				{% csrf_token %}
				<div class="row" >
					<div class='col-12'>
						<h1 class='h1-1'>
							Gallery Controls 
						</h1>
						<hr>
						<p class='p-p'>
							Select and deselect images to add and remove them. 
						</p>
					</div>
				</div>

				<div class="row">
					<div class='col-12 col-md-3 mb-4'>
						<button class='btn-cust addLoader' name="keyler" value="update">
							Update
						</button>
					</div>
					<div class='col-12 col-md-3 mb-4'>
						<button class='btn-cust addLoader' name="keyler" value="remove">
							Remove
						</button>
					</div>
					<div class='col-12 col-md-3 mb-4'>
						<button class='btn-cust' id="clearBtn">
							Clear Gallery
						</button>
					</div>
					<div class='col-12'>
						<p class="p-p">
							Select All
							<input class="form-check-input text-center" onclick='toggle(this)' name='selectAll' type="checkbox" value="" id="selectAll">
						</p>
	
					</div>
				</div>
				<hr>

					
				<div class="row text-center" id='loaderRow'>
					{%for image in image_sets %}
					<div class="col mt-4 mb-4 slide-up">
						{% if image in current_list %}
						<div class="image-card-a" id="{{image.id}}" >
							<input 
								class="noshow checkImage form-check-input" 
								checked type="checkbox" 
								name='checkbox{{image.id}}' 
								value="{{image.id}}"
								id="id_check{{image.id}}"
							>
							{% else %}
						<div class="image-card" id="{{image.id}}" >
							<input 
								class="noshow checkImage form-check-input" 
								type="checkbox" 
								name='checkbox{{image.id}}' 
								value="{{image.id}}"
								id="id_check{{image.id}}"
							>
						{% endif %}
							<label for="id_check{{image.id}}" class="image-card-info">
								<img 
								class='image-list' 
								load='lazy' 
								src="{{ image.image_link }}" 
								>
							</label >
						</div>
					</div>
					{% endfor %}

				</div>
				<div class='row scroll-row'>
					
					<div class="col-12 text-center mb-4">
						<button class='btn-cust' 
							value="{% url 'load-gal-endpoint' gal %}" 
							type='button' 
							name='loadMore' 
							id='loadMore'
							style='display:inline-block'
							{% if last_page < 2 %}
								hiddend
							{% endif %}
							>
							Load More
						</button>
					
						<section class="dots-container" id='dotsLoader'>
							<div class="dot"></div>
							<div class="dot"></div>
							<div class="dot"></div>
							<div class="dot"></div>
							<div class="dot"></div>
						</section>
						<hr>
					</div>
				</div>

			</form>
			
		</div>
		
	</div>


</div>
<!-- Create Galleryt -->
{% include "o_panel/modals/gallery/share-gallery.html" %}

{% include "o_panel/modals/gallery/delete-gallery.html" %}
{% include "o_panel/modals/gallery/settings-gallery.html" %}

<script>
	initializeModals();
	function initializeModals() {
		
		document.addEventListener("DOMContentLoaded", function() {
			
			//handleModal('ImageGalModal', 'ImageGalBtn', 'closeImageGal');
			handleModal('DeleteGalModal', 'DeleteGalBtn', 'closeDeleteGal');
			handleModal('SettingsGalModal', 'SettingsGalBtn', 'closeSettingsGal');
			handleModal('ShareGalModal', 'ShareGalBtn', 'closeShareGal');


			
		});

	};
	
	
</script>
<script src={% static 'js/clipboard.js' %}></script>
<script src={% static 'js/loadMore.js' %}></script>
<script src={% static 'js/mini_gallery.js' %}></script>
<script src={% static 'js/select_all.js' %}></script>
<script src={% static 'js/galFunk.js' %}></script>
<script src={% static 'js/galleryFunctions.js' %}></script>
{% endblock %}

