{% extends 'panel.html' %}
{% block title %}Upload Link{% endblock %}
{% block content %}
{% load static %}
{% block css %}
    <link rel='stylesheet' href="{% static 'css/imageUpdate.css' %}">
    <link rel='stylesheet' href="{% static 'css/uploadAnimation.css' %}">
{% endblock %}

<div class="section-med ">
    {% for image in list_data %}
    <input name='cf{{forloop.counter}}' class='hiddenImage' value='{{image}}' hidden>
    {% endfor %}
    <input id='apiUrl' value={% url 'create-image-endpoint' %} hidden>
    <input id='apiTagUrl' value={% url 'create-image-tags-endpoint' %} hidden>
    <input id='apiGalleryUrl' value={% url 'create-image-gallery-endpoint' %} hidden>
    <input id='redirect' value="{% url 'image-details'%}" hidden>
    <input id='errorUrl' value="{% url 'issue-backend' '400' 'image-create-error' %}" hidden>
    <div class="p-p" id='formBox'>


        <h1 class='h1-1'>Set Image Details</h1>
        <form method=POST id='imageForm' class='form-group' enctype="multipart/form-data">
            {% csrf_token %}
            <div class='row'>

                <div class='col-12 col-md-6'>
                    <label class='mt-2' for="id_title">Set Title for Images</label>
                    <input type="text" placeholder="Title" name="title" class="form-control"  maxlength="255" required id="id_title">

                    <select type="text" hidden name="tag"  class="form-select" multiple id="id_tag" >

                    </select>

                    <label class='mt-2' for="id_display">Select gallery to include images</label>
                    <select name="display" hidden class="form-select" multiple id="id_display" >
                        {% for display in display_objects %}
                        <option id="{{ display.id }}display" value="{{display.id}}">{{display.name}}</option>
                        {% endfor %}
                    </select>
                    <div class='overflow-auto'>
                        <div class='row section-scroll' id='displayTagRow'>
                            {% for display in display_objects %}

                            <div class='col-12 col-md-6 mt-4'>
                                <div type='radio' class='displayOptions not-selcolor' value="{{display.id}}">{{display.name|title}}</div>
                            </div>

                            {% endfor %}
                        </div>
                    </div>
                </div>
                

                <div class='col-12 col-md-6'>
                    <label class='mt-2' for="id_project_id">Select Project by Name</label>
                    <select name="project_id" class="form-select" id="id_project_id">
                        {% for project in project_objects %}

                        <option value="{{project.id}}">{{project.name}}</option>

                        {% endfor %}
                    </select>

                    <label class='mt-2' for="id_tagCreate">Add/Create a Tag by typing and hitting enter</label>
                    <input type="text" placeholder="Tag" name="tagCreate" class="form-control" id="id_tagCreate">

                    <label class='mt-2' for="id_tag">To remove tag select the X</label>
                    <div class='row' id="tags"></div>
                </div>
                <div class='col-12 mt-4 mb-4'>
                    <button id='submit' type="submit" class="btn-cust" id='clicker'>
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class='row mt-4 mb-4'>
        <div class='col-12 mt-4 noshow mb-4 float-in text-center' id='uploadAnimation1'>
          <div class="loaderVal mt-4 mb-4" id='validateImage'>
            <div class="loaderVal-text"><h1 class='h1-1'>Adding Images to Database...</h1></div>
            <div class="loaderVal-bar-1 slide-up"></div>
          </div>
        </div>
        <div class='col-12 mt-4 noshow mb-4 float-in text-center' id='uploadAnimation2'>
            <div class="loaderVal mt-4 mb-4" id='validateTags'>
              <div class="loaderVal-text"><h1 class='h1-1'>Adding tags to images to Database...</h1></div>
              <div class="loaderVal-bar-1 slide-up"></div>
            </div>
          </div>
        </div>
        <div class='col-12 mt-4 noshow mb-4 float-in text-center' id='uploadAnimation3'>
            <div class="loaderVal mt-4 mb-4" id='validateGallery'>
              <div class="loaderVal-text"><h1 class='h1-1'>Adding images to gallery Database...</h1></div>
              <div class="loaderVal-bar-1 slide-up"></div>
            </div>
          </div>
        </div>
    </div>
</div>


<script src={% static 'js/tags.js' %}></script>
<script src={% static 'js/imageForm.js' %}></script>
{% endblock %}
